.content-page-text{
    max-width: 1140px;
    margin: 0 auto;
}

.titulo{
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,.3);
}

.text{
    padding: 10px;
}

.text h2{
    font-size: 115%;
    margin-bottom: 10px;
}

.text p{
    margin-bottom: 25px;
}

